<header>
  <div class='hContainer'>
    <h1><a href='/'>My Recipe Book</a></h1>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/new'>Create Recipe</a></li>
        </ul>
      </nav>
  </div>
</header>
<form id='edit' action="/{{id}}?_method=put" method="post">
  <h3>{{title}}</h3>
  <h3>Title:</h3>
  <label class='label' for="title"></label>
  <input class='new' type="text" value="{{title}}" name="title" placeholder="Recipe Name"  required>
  <h3>Your Name:</h3>
  <label class='label' for="name"></label>
  <input class='new' type="text" value="{{name}}" name="name" placeholder="Your Name" required>
  <h3>Description:</h3>
  <label class='label' for="description"></label>
  <input class='new ' type="text" value="{{description}}" name="description" placeholder="What am I?" required>
  <h3>Ingredients:</h3>
  <div>
    <ul class='ingredientList'>
      {{#each ingredients}}
        <li>
          <input type="text" value= "{{this}}" name="ingredients" />
        </li>
      {{/each}}
    </ul>
  </div> 
  <div class='buttonContainer'>
    <button type='button' class='addIngredient buttonF'> Add an ingredient</button>
    <button type='button' class='removeIngredient buttonF'>Remove the last ingredient</button>
  </div>
  <h3>Instructions:</h3>
  <div>
    <ol>
      {{#each steps}}
        <li class='stepList'>
          <input type="text" value= "{{this}}" name="steps" />
       </li>
      {{/each}}
    </ol>
  </div>
  <div class='buttonContainer'>
    <button type='button' class='addStep buttonF'>Add another step</button>
    <button type='button' class='removeStep buttonF'>Remove last step</button>
  </div> 
  <input id='newStuff' type="submit" value="Edit">
</form>

