<form id='edit' action="/{{id}}?_method=put" method="post">
  <h2>Edit Me</h2>
  <label class='label' for="title">Title</label>
  <input class='new' type="text" value="{{title}}" name="title" placeholder="Recipe Name" required>
  <label class='label' for="name">Name</label>
  <input class='new' type="text" value="{{name}}" name="name" placeholder="Your Name" required>
  <label class='label' for="description">Description</label>
  <input class='new extraSpace' type="text" value="{{description}}" name="description" placeholder="What am I?"
    required>
  <label class='label' for="instructions">Instructions</label>
  <textarea value="{{instructions}} rows="3" cols="40" placeholder="Type here">
  1.
  2.
  3.
  4.
  5.
  6.
  </textarea>
  {{!-- <input class='new extraSpace' type="text" value="{{instructions}}" name="instructions"
    placeholder="How do you make me? Please include numbered steps" required> --}}
  <label class='label' for="title">Ingredients</label>
  <input class='new extraSpace' type="text" value="{{ingredients}}" name="ingredients" placeholder="What am I made of?"
    required>
  <input id='changeStuff' type="submit" value="Update">
</form>