<header>
  <div class='hContainer'>
    <h1><a href='/'>My Recipe Book</a></h2>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/new'>Create Recipe</a></li>
        </ul>
      </nav>
  </div>
</header>

<h2>New Recipe</h2>

<form id='new' action="/" method="post" name='newForm'>
  <h3>Title:</h3>
  <label class='label' for="title"></label>
  <input class='new' type="text" value="{{title}}" name="title" placeholder="Recipe Name"  required>
  <h3>Your Name:</h3>
  <label class='label' for="name"></label>
  <input class='new' type="text" value="{{name}}" name="name" placeholder="Your Name" required>
  <h3>Description:</h3>
  <label class='label' for="description"></label>
  <input class='new ' type="text" value="{{description}}" name="description" placeholder="What am I?" required>
  <h3>Ingredients:</h3>
  <div>
    <ul class='ingredientList'>
      <li>
        <label class='ingredientlabel' for=""></label>
        <input class='listNew ' type="text" value="{{ingredients}}" name="ingredients" placeholder="What am I made of?" required>
      </li>
    </ul>
  </div> 
  <div class='buttonContainer'>
    <button type='button' class='addIngredient buttonF'> Add an ingredient</button>
    <button type='button' class='removeIngredient buttonF'>Remove the last ingredient</button>
  </div>
  <h3>Instructions:</h3>
  <div>
    <ul>
      <li class='stepList'>
        <label class='label' for="instructions"></label>
        <input class='listNew' type="text" value="{{instructions}}" name="steps" placeholder="How do you make me? Please include numbered steps" required>
      </li>
    </ul>
  </div>
  <div class='buttonContainer'>
    <button type='button' class='addStep buttonF'>Add another step</button>
    <button type='button' class='removeStep buttonF'>Remove last step</button>
  </div>
  <input id='newStuff' type="submit" value="Create">
</form>
